<h2>Login</h2>

<form action="/api/sessions/login" method="post" >
    <label for="email">Email: <input type="email" name="email"></label>
    <br><br>
    <label for="password">Contraseña: <input type="password" name="password"></label>
    <br><br>
    <button type="submit"> Iniciar Sesion </button>

</form>

<a href="/api/sessions/github"> Github </a>