<h1>Registro Usuarios</h1>
<form action="/api/sessions/register" method="post">
    <label for="first_name" >Nombre</label>
    <input type="text" name="first_name" >
    <br><br>
    <label for="last_name" >Apellido</label>
    <input type="text" name="last_name">
    <br><br>
    <label for="email" >Email</label>
    <input type="email" name="email">
    <br><br>
    <label for="password" >Contraseña</label>
    <input type="password" name="password" >
    <br><br>
    <label for="age"> Edad </label>
    <input type="number" name="age">
    <br><br>
    <input type="submit" value="Registrarse">
</form>
